.banner {
  border-bottom: 1px solid;
  font-size: 12px;
}

.inner {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  align-items: center;
  padding-top: 6px;
  padding-bottom: 6px;
}

.reason {
  font-style: normal;
}
