@charset "utf-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&display=swap");

.filter-options {
  width: 100%;
}
.eventDetails {
  width: 89%;
  max-width: 1400px;
  margin: 10px auto;
  padding: 0.5%;
  padding-top:  50px;

  display: flex;
  align-items: center;
}
.ineventDetails img{
  border-radius: 50%;
  width: 100px;
  height: 100px;
}
.ineventDetails {
  width: 50%;
  margin: auto;
}
.ine{
  display: flex;
  align-items: center;
gap: 20px;

}

.members ul li p{
  display: grid;
margin: 0;
grid-template-columns: 50% 40% 10%;

}

.eventThumbnail {
  width: 50%;
}
.eventThumbnail img {
  height: auto;
  width: 100%;
  
}
.snsicon {
  color: #1da1f2;
  font-size: 24px;
  display: inline-block;
}

@keyframes scroll {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
@media screen and (max-width: 1550px) {
}
@media screen and (max-width: 1230px) {
}
@media screen and (max-width: 900px) {
}
@media screen and (max-width: 700px) {
  .eventDetails{
    display: block;
  }
  .eventThumbnail,.ineventDetails{
    width: 100%;
  }
}
@media screen and (min-width: 1150px) {
  @media (min-aspect-ratio: 16 / 9) {
  }
}

.summary-section {
  margin-top: 40px;
  border-top: 1px solid var(--foreground);
  padding-top: 20px;
}

.summary-works {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.summary {
  max-width: 500px;
}
